<?php $this->layout('layouts/docs', [
    'title' => 'Controllers | Documentation'
]) ?>

<?php $this->start('body') ?>

<div class="card mb-5" id="basic-routing">
    <div class="card-header">Controllers</div>

    <div class="card-body">
        <p>
            You can define controllers in <span class="bg-light text-danger">app/Controllers</span> directory. The basic content 
            of the controller <span class="bg-light text-danger">MyController.php</span> can be :
        </p>

        <div class="card">
            <pre class="m-0"><code class="p-3">&lt;?php

namespace App\Http\Controllers;

use Framework\Routing\Controller;

class MyController extends Controller
{
    /**
     * @return void
     */
    public function index(): void
    {
        $this->response('Hello world!');
    }
}</code></pre>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <span>Next: <a href="<?= url('docs/guides/views') ?>">Views</a></span>
        <span>Previous: <a href="<?= url('docs/guides/middlewares') ?>">Middlewares</a></span>
    </div>
</div>

<?php $this->stop() ?>