<!DOCTYPE html>
<html lang="{{ config('app.lang') }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: .5em;
        }

        thead > tr > th {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <table>
        {% if headers is not empty %}

        <thead>
            <tr>
                <th align="left">#</th>

                {% for header in headers %}
                <th align="left">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>

        {% endif %}

        <tbody>
            {% for d in data %}
            <tr>
                <td>{{ loop.index }}</td>

                {% for value in d %}
                <td>{{ value }}</td>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>

</html>