{% if alert.display == 'toast' %}
    <alert-toast type="{{ alert.type }}" message="{{ alert.message }}"></alert-toast>
{% else %}
    <div class="alert alert-{{ alert.type }} alert-dismissible show" role="alert">
        {{ alert.message|raw }}

        {% if alert.dismiss %}
        <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endif %}
    </div>
{% endif %}
