APP_ENV=local
APP_NAME=TinyMVC
APP_URL=http://127.0.0.1:8888/
APP_LANG=en
APP_ENCRYPTION_KEY=

#
DB_CONNECTION=mysql
DB_NAME=tinymvc
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=

#
TESTING_DB_DRIVER=sqlite
TESTING_DB_NAME=tinymvc_test
TESTING_DB_HOST=
TESTING_DB_PORT=
TESTING_DB_USERNAME=
TESTING_DB_PASSWORD=
TESTING_URL_PROTOCOL=http://
TESTING_URL_HOST=127.0.0.1
TESTING_URL_PORT=8889

#
MAILER_HOST=127.0.0.1
MAILER_PORT=1025
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_SENDER_NAME=TinyMVC
MAILER_SENDER_MAIL=no-reply@tiny.mvc

#
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

#
CACHE_CONNECTION=file
REDIS_SCHEME=tcp
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
