<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    bootstrap = "tests/bootstrap.php"
    backupGlobals = "false"
    backupStaticAttributes = "false"
    colors = "true"
    convertErrorsToExceptions = "true"
    convertNoticesToExceptions = "true"
    convertWarningsToExceptions = "true"
    processIsolation = "false"
    stopOnFailure = "false">

    <testsuites>
        <testsuite name="Project test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>

        <report>
            <html outputDirectory="./storage/coverage-report" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
</phpunit>
