//https://idiallo.com/blog/loading-bar-for-page-load
.page-loading::before {
    content: " ";
    display: block;
    position: fixed;
    z-index: 11111111111;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
    animation: loading infinite ease-out 5s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

@keyframes loading {
    from {
        background-color: #007bff;
    }
}
