{% extends "layouts/main.html.twig" %}

{% block title %}
	TinyMVC | PHP framework based on MVC architecture
{% endblock %}

{% block description %}
	TinyMVC is a PHP framework based on MVC architecture that helps you build easily and quickly powerful web applications and REST API
{% endblock %}

{% block content %}
	<div class="container text-center p-5">
		<h1 class="fw-bold display-4">TinyMVC</h1>

		<p class="mt-4 fs-5" style="line-height: 1.8">
			Just a PHP framework based on MVC architecture that helps you <br>
			build easily and quickly powerful web applications and REST API.
		</p>

		<hr class="my-5 mx-auto w-25">

		<span class="d-flex align-items-center justify-content-center">
			<a href="https://github.com/eliseekn/tinymvc" class="btn btn-dark" target="_blank">
				<i class="fab fa-github"></i> Github
			</a>

			{% if auth('id') is empty %}
			<a href="{{ url('login') }}" class="ms-3 btn btn-primary">
				<i class="fa fa-user"></i> Log in
			</a>

			<a href="{{ url('signup') }}" class="ms-3 btn btn-primary">
				<i class="fa fa-sign-in-alt"></i> Sign up
			</a>
			{% else %}
			<form action="{{ url('logout') }}" method="post">
				<button type="submit" class="ms-3 btn btn-danger">
					<i class="fa fa-user"></i> Log out
				</button>
			</form>
			{% endif %}
		</span>
	</div>
{% endblock %}
