<?php $this->layout('layouts/docs', [
    'page_title' => 'HTTP Client | Documentation'
]) ?>

<?php $this->start('page_content') ?>

<div class="card mb-5" id="basic-routing">
    <div class="card-header">HTTP Client</div>

    <div class="card-body">
        <p class="font-weight-bold">Send basic HTTP request</p>
        <p>TinyMVC HTTP client uses <span class="bg-light text-danger">curl</span> library to handle requests :</p>
        
        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">Client::send(string $method, array $urls, array $headers = [], ?array $data = null, bool $json_data = false);</code></pre>
        </div>

        <p class="font-weight-bold">HTTP methods</p>
        <p>Here are defined all HTTP methods shortcuts you can use to send HTTP requests :</p>

        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">Client::get(array $urls, array $headers = [], ?array $data = null, bool $json_data = false)
Client::post(array $urls, array $headers = [], ?array $data = null, bool $json_data = false)
Client::put(array $urls, array $headers = [], ?array $data = null, bool $json_data = false)
Client::patch(array $urls, array $headers = [], ?array $data = null, bool $json_data = false)
Client::delete(array $urls, array $headers = [], ?array $data = null, bool $json_data = false)
Client::options(array $urls, array $headers = [], ?array $data = null, bool $json_data = false)</code></pre>
        </div>

        <p class="font-weight-bold">Send HTTP GET and POST requests inside Controller class</p>
        <p>Example :</p>

        <div class="card">
            <pre class="m-0"><code class="p-3">&lt;?php

namespace App\Controllers;

use Framework\Routing\Controller;

class MyController extends Controller
{
    /**
     * @return void
     */
    public function index(): void
    {
        //send HTTP GET request
        $rates = $this->get(['https://api.exchangeratesapi.io/latest?base=USD'])->getBody();
        $this->response(json_decode($rates[0], true), true);

        //send HTTP POST request
        $response = $this->post(['https://url.of.api/'], ['data' => 'data'])->getBody();
        $this->response(json_decode($response[0], true), true);
    }
}</code></pre>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <span>Next: <a href="<?= url('docs/guides/redirections') ?>">URL Redirections</a></span>
        <span>Previous: <a href="<?= url('docs/guides/responses') ?>">HTTP Responses</a></span>
    </div>
</div>

<?php $this->stop() ?>