<?php $this->layout('layouts/docs', [
    'title' => 'URL Redirections | Documentation'
]) ?>

<?php $this->start('body') ?>

<div class="card mb-5" id="basic-routing">
    <div class="card-header">URL Redirections</div>

    <div class="card-body">
        <p class="font-weight-bold">Make HTTP redirections using Redirect class</p>
        <p>Redirect to url :</p>

        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">Redirect::url(string $url = '/', $params = null)->only()</code></pre>
        </div>

        <p>Redirect back :</p>

        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">Redirect::back()->only()</code></pre>
        </div>

        <p class="font-weight-bold">Make HTTP redirections with actions</p>
        <p>Redirect with custom flash session data :</p>

        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">Redirect::back()->with(string $key, $data)->only()</code></pre>
        </div>

        <p>Redirect with alert message :</p>

        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">Redirect::back()->withAlert($message, bool $dismiss = true)->success()
Redirect::back()->withAlert($message, bool $dismiss = true)->error()
Redirect::back()->withAlert($message, bool $dismiss = true)->warning()
Redirect::back()->withAlert($message, bool $dismiss = true)->info()</code></pre>
        </div>

        <p>Redirect with toast message :</p>

        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">Redirect::back()->withToast($message)->success()
Redirect::back()->withToast($message)->error()
Redirect::back()->withToast($message)->warning()
Redirect::back()->withToast($message)->info()</code></pre>
        </div>

        <p>Redirect with popup message :</p>

        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">Redirect::back()->withPopup($message)->success()
Redirect::back()->withPopup($message)->error()
Redirect::back()->withPopup($message)->warning()
Redirect::back()->withPopup($message)->info()</code></pre>
        </div>

        <p>Redirect and create cookie :</p>

        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">Redirect::back()->withCookie(string $name, string $value, int $expires = 3600, bool $secure = false, string $domain = '')->only()</code></pre>
        </div>

        <p class="font-weight-bold">Make redirections inside Controller class</p>
        <p>Example :</p>

        <div class="card">
            <pre class="m-0"><code class="p-3">&lt;?php

namespace App\Http\Controllers;

use Framework\Routing\Controller;

class MyController extends Controller
{
    /**
     * @return void
     */
    public function index(): void
    {
        //redirect to url
        $this->redirect('home')->only();

        //redirect back
        $this->back()->only();
    }
}</code></pre>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <span>Next: <a href="<?= url('docs/database/introduction') ?>">Database</a></span>
        <span>Previous: <a href="<?= url('docs/guides/client') ?>">HTTP Client</a></span>
    </div>
</div>

<?php $this->stop() ?>