@import 'components/main';
@import 'components/sidebar';

.table {
    thead th {
        cursor: pointer;
    }

    th, td {
        vertical-align: middle;
    }
}

p {
    margin-bottom: 0;
}

.notifications-icon {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: .3em;
    top: .3em;
    width: 13px;
    height: 13px;
    padding-top: 1px;
}
