<?php $this->layout('layouts/docs', [
    'page_title' => 'Database | Documentation'
]) ?>

<?php $this->start('page_content') ?>

<div class="card mb-5" id="getting-started">
    <div class="card-header">Getting started</div>

    <div class="card-body">
        <p class="font-weight-bold">Requirements</p>
        <p>TinyMVC requires <span class="bg-light text-danger">MySQL</span> as system manager database to work properly.</p>

        <p class="font-weight-bold">Execute SQL query directly from database connection instance</p>
        <p>You can execute SQL query by using database connection instance as follow :</p>

        <div class="card mb-4">
            <pre class="m-0"><code class="p-3">$result = DBConnection::connection(?string $db = null)->query(string $query); 
        
//or you can execute safe SQL query
$result = DBConnection::connection(?string $db = null)->statement(string $query, array $args);</code></pre>
        </div>

        <p>Example :</p>

        <div class="card">
            <pre class="m-0"><code class="p-3">&lt;?php

use Framework\Database\DBConnection;

class MyController extends Controller
{
    /**
     * @return void
     */
    public function index(): void
    {
        $result = DBConnection::connection('tinymvc')->query('SELECT * FROM users WHERE active = 1'); //or
        $result = DBConnection::connection('tinymvc')->statement('SELECT * FROM users WHERE active = ?', [1]); //or
        $result = DBConnection::connection('tinymvc')->statement('SELECT * FROM users WHERE active = :active', ['active' => 1]);

        $this->response($result->fetchAll(), true);
    }
}</code></pre>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <span>Next: <a href="#configuration">Configuration</a></span>
        <span>Previous: <a href="<?= url('docs/guides/redirections') ?>">URL Redirections</a></span>
    </div>
</div>

<div class="card mb-5" id="configuration">
    <div class="card-header">Configuration</div>

    <div class="card-body">
        <p>Database configuration file is located in <span class="bg-light text-danger">config/app.php</span></p>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <span>Next: <a href="<?= url('docs/database/query-builder') ?>">Query Builder</a></span>
        <span>Previous: <a href="#getting-started">Getting started</a></span>
    </div>
</div>
<?php $this->stop() ?>