.wrapper {
    &.toggled {
        .wrapper__sidebar {
            margin-left: 0;

            @media (min-width: 768px) {
                margin-left: -20em;
            }
        }

        .wrapper__content {
            margin-left: 0;
        }
    }

    &__sidebar {
        height: 100%;
        width: 300px;
        position: fixed;
        z-index: 11111;
        top: 0;
        left: 0;
        overflow-x: hidden;
        margin-left: -20em;
        @include transition(margin, .25s, ease-in-out);

        .sidebar-title {
            padding: .55em 1.25em;
            font-size: 1.3em;
        }

        @media (min-width: 768px) {
            margin-left: 0;
        }
    }

    &__content {
        margin-left: 0;

        @media (min-width: 768px) {
            margin-left: 300px;
        }
    }
}
