@import 'components/main';
@import 'components/sidebar';

.table {
    thead th {
        cursor: pointer;
    }

    th, td {
        vertical-align: middle;
    }
}

p {
    margin-bottom: 0;
}

.notifications-icon {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: .3em;
    top: .3em;
    width: 13px;
    height: 13px;
    padding-top: 1px;
}

.page-link {
    color: #343a40;

    &:hover {
        background-color: #343a40;
        border-color: #343a40;
        color: white;
    }
}

.page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;
    color: white;
}

.modal-backdrop {
    z-index: 111111;
}

.modal {
    z-index: 11111111;
}

.lightbox > .card-img-top{
    cursor: pointer;
}

#lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 111111;
    padding: 5em;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);

    @media (max-width: 768px) {
        padding: 1em;

        .container {
            padding: 0;
        }
    }
}

#lightbox,
.alert,
.modal-dialog,
.list-group .list-dropdown-menu,
.dropdown .dropdown-menu {
    @include fadeIn(.3s);
}

.list-group-item-submenu {
    @include fadeIn(.3s);

    .list-group-item-submenu-item {
        margin-bottom: 1em;
    }

    .list-group-item-submenu-item:last-child {
        margin-bottom: 0;
    }
}
