{% extends "layouts/email.html.twig" %}

{% block body %}
    <p>{{ notification }}</p>
    <p>Click the link below to read notification:</p>
    <p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}
